@model U18OKT10X1.Models.RegisterInfo
@{
    ViewBag.Title = "Register";
}

<div class=" panel panel-success">
    <div class=" panel-heading text-center">
        <h2>Register Form</h2>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <lable>Name:</lable> @Html.TextBoxFor(anka => anka.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <lable>Adress:</lable> @Html.TextBoxFor(anka => anka.Home, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <lable>Phone:</lable> @Html.TextBoxFor(anka => anka.Phone, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <lable>Email:</lable> @Html.TextBoxFor(anka => anka.Email, new { @class = "form-control" })
        </div>




        <div class="form-group">
            <Label>Type of Driver Licens</Label>: @Html.DropDownListFor(anka => anka.Licens, new [] {
                new SelectListItem() {Text ="AM" , },
        new SelectListItem() {Text ="A1", Value = bool.TrueString },
        new SelectListItem() {Text ="A2", Value = bool.TrueString  },
        new SelectListItem() {Text ="A", Value = bool.TrueString  },
        new SelectListItem() {Text ="B", Value = bool.TrueString  },
        new SelectListItem() {Text ="BE", Value = bool.TrueString  },
        new SelectListItem() {Text ="C1", Value = bool.TrueString  },
        new SelectListItem() {Text ="C", Value = bool.TrueString  },
        new SelectListItem() {Text ="C1E", Value = bool.TrueString  },
        new SelectListItem() {Text ="CE", Value = bool.TrueString  },
        new SelectListItem() {Text ="D1", Value = bool.TrueString  },
        new SelectListItem() {Text ="D", Value = bool.TrueString  },
        new SelectListItem() {Text ="D1E", Value = bool.TrueString  }}, "Make a Choice")
        </div>
        <input class=" btn btn-success" type="submit" value="Submit my information" />

    }
</div>

